<div class="callout">
        <div class="grid">
        <div class="callout__content">
          <h3 class="callout__heading">Get early access today</h3>
          <p>It only takes a minute to sign up and our free starter tier is extremely generous. If you have any questions, our support team would be happy to help you.</p>
        </div>
        <!-- <input class="input" type="text" placeholder="email@example.com">
        <a href="#" class="btn">Get Started</a> -->
          <div class="input-group">
            <input
              type="text"
              class="input"
              placeholder="email@example.com"
            >
            <a class="btn" href="#">
              Get Started For Free
            </a>
          </div>
      </div>
    </div>