<ul class="list grid grid--1x2">
      <div class="feature">
        <img src="images/icon-access-anywhere.svg" alt="">
        <div class="feature__content">
          <h3>Access you files, anywhere</h3>
          <p>The ability to use a smartphone, tablet, or computer to acces your account means your files follow you everywhere.</p>
        </div>
      </div>
      <div class="feature">
        <img src="images/icon-security.svg" alt="">
        <div class="feature__content">
          <h3>Security you can trust</h3>
          <p>2-factor authentication and user-controlled encryption are just a couple of the security features we allow to help secure your files.</p>
        </div>
      </div>
      <div class="feature">
        <img src="images/icon-collaboration.svg" alt="">
        <div class="feature__content">
          <h3>Real time collaboration</h3>
          <p>Securely share files and folders with friends, family and colleagues for live collaboration. No email attachments required.</p>
        </div>
      </div>
      <div class="feature">
        <img src="images/icon-any-file.svg" alt="">
        <div class="feature__content">
          <h3>Store any type of file.</h3>
          <p>Whether you're sharing holiday photos or work documents, Fylo has you covered allowing for all file types to be securely stored and shared.</p>
        </div>
      </div>
    </ul>