<div class="personal">
        <div class="logo"><img class="logo__image" src="images/logo.svg" alt=""></div>
        <div class="footer-navbar grid grid--1x4">
          <ul class="list grid grid--1x3">
            <li class="location">
              <div class="personal--info">
                <div class="info-image">
                  <img src="images/icon-location.svg" alt="">
                </div>
                <div class="info-body">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam laborum laudantium sapiente rerum a numquam!</p>
                </div>
              </div>
            </li>
            <li>
              <div class="personal--info">
                <div class="info-image">
                  <img src="images/icon-phone.svg" alt="">
                </div>
                <div class="info-body">
                  <p>+1-543-123-4567!</p>
                </div>
              </div>
            </li>
            <li>
              <div class="personal--info">
                <div class="info-image">
                  <img src="images/icon-email.svg" alt="">
                </div>
                <div class="info-body">
                  <p>example@fylo.com</p>
                </div>
              </div>
            </li>
          </ul>
          <div class="list__container">
              <ul class="list">
                <li class="list__item">About Us</li>
                <li class="list__item">Jobs</li>
                <li class="list__item">Press</li>
                <li class="list__item">Blog</li>
              </ul>
              <ul class="list">
                <li class="list__item">Contact Us</li>
                <li class="list__item">Terms</li>
                <li class="list__item">Privacy</li>
              </ul>
            </div>
            <div class="social-media">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
              </div>
        </div>
      </div>