<div style="width: 30%; padding: 4rem">
  <div class="card card--secondary">
    <div class="card__body">
      Fylo has improved our team productivity by an order of magnitude. Since making the switch our team has become a well-oiled collaboration machine.
    </div>
    <footer class="person">
      <img class="profile__pic" src="images/profile-1.jpg" alt="">
      <div class="profile__body">
        <p class="testimonial__name">Satish Patel</p>
        <p class="designation">Founder & CEO, Huddle</p>
      </div>