<section class="block container">
      <img class="underlayer" src="images/bg-quotes.png" alt="">
      <div class="grid grid--1x3">
        <div class="plan">
          <div class="card card--secondary">
        <div class="card__body">
          Fylo has improved our team productivity by an order of magnitude. Since making the switch our team has become a well-oiled collaboration machine.
        </div>
        <footer class="person">
          <img class="profile__pic" src="images/profile-1.jpg" alt="">
          <div class="profile__body">
            <p class="testimonial__name">Satish Patel</p>
            <p class="designation">Founder & CEO, Huddle</p>
          </div>
        </footer>
          </div>
        </div>
        <div class="plan">
          <div class="card card--secondary">
        <div class="card__body">
          Fylo has improved our team productivity by an order of magnitude. Since making the switch our team has become a well-oiled collaboration machine.
        </div>
        <footer class="person">
          <img class="profile__pic" src="images/profile-2.jpg" alt="">
          <div class="profile__body">
            <p class="testimonial__name">Bruce McKenzie</p>
            <p class="designation">Founder & CEO, Huddle</p>
          </div>
        </footer>
          </div>
        </div>
        <div class="plan">
          <div class="card card--secondary">
        <div class="card__body">
          Fylo has improved our team productivity by an order of magnitude. Since making the switch our team has become a well-oiled collaboration machine.
        </div>
        <footer class="person">
          <img class="profile__pic" src="images/profile-3.jpg" alt="">
          <div class="profile__body">
            <p class="testimonial__name">Iva Boyd</p>
            <p class="designation">Founder & CEO, Huddle</p>
          </div>
        </footer>
          </div>
        </div>
      </div>
    </section>